* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: rgb(228, 89, 221);
  }
  .header {
    width: 100%;
    height: 70px;
    background-color: rgb(158, 236, 158);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
  }
  .header img {
    height: 60px;
    width: 60px;
    margin-right: 5px;
    margin-top: 5px;
  }
  .header h2 {
    line-height: 70px;
    text-align: center;
    color: white;
  }
  .side-bar {
    width: 20%;
    height: 100vh;
    background-color: rgb(148, 16, 16);
    position: fixed;
    top: 0;
    left: -100%;
    margin-top: 70px;
    transition: 0.7s;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  ul li {
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  ul li a {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px;
  }
  ul li a:hover {
    border-left: 5px solid red;
    background-color: darkgoldenrod;
    color: whitesmoke;
  }
  ul li a:hover i {
    background-color: darkgoldenrod;
    color: whitesmoke;
  }
  a i {
    font-size: 18px;
    color: white;
    margin-right: 20px;
  }
  .show-btn,
  .hide-btn {
    position: fixed;
    font-size: 30px;
    color: white;
    transition: 0.4s;
    top: 20px;
    left: 20px;
  }
  .hide-btn {
    opacity: 0;
  }
  #chk {
    position: absolute;
    visibility: hidden;
    z-index: -100;
  }
  #chk:checked ~ .side-bar {
    left: 0;
  }
  #chk:checked ~ .show-btn {
    opacity: 0;
  }
  #chk:checked ~ .hide-btn {
    opacity: 1;
  }
  #chk:checked ~ .main-content {
    width: 80%;
  }
  .main-content {
    float: right;
    width: 100%;
    transition: 0.7s;
    padding: 20px;
  }
  .main-content img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    margin-top: 50px;
  }
  .main-content p {
    text-align: justify;
  }
  .social {
    margin-top: 180px;
    display: flex;
    justify-content: space-evenly;
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  }
  .social i {
    padding: 10px 0;
    font-size: 30px;
    color: white;
    float: left;
  }
  @media (max-width: 500px) {
    .header {
      width: 100%;
      height: 70px;
      background-color: darkgoldenrod;
      position: fixed;
      top: 0;
      display: flex;
      justify-content: center;
    }
    .header img {
      height: 60px;
      margin-top: 5px;
      width: 60px;
      margin-right: 5px;
    }
    .header h2 {
      display: none;
    }
    .side-bar {
      width: 100%;
      height: 100vh;
      background-color: rgb(148, 16, 16);
      position: fixed;
      top: 0;
      left: -100%;
      margin-top: 70px;
      transition: 0.7s;
    }
    ul {
      list-style: none;
    }
    ul li {
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    }
    ul li a {
      display: block;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 20px;
    }
    .show-btn,
    .hide-btn {
      position: fixed;
      font-size: 30px;
      color: white;
      line-height: 70px;
      transition: 0.4s;
      top: 0px;
      left: 20px;
    }
    .hide-btn {
      opacity: 0;
    }
    #chk {
      position: absolute;
      visibility: hidden;
      z-index: -100;
    }
    #chk:checked ~ .side-bar {
      left: 0;
    }
    #chk:checked ~ .show-btn {
      opacity: 0;
    }
    #chk:checked ~ .hide-btn {
      opacity: 1;
    }
    #chk:checked ~ .content {
      width: 80%;
    }
  }